.container {
    color: #000;
    height: calc(100vh - 120px);
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.actions {
    display: flex;
    padding-bottom: 24px;   
}

.cardList {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-bottom: 24px;
    justify-content:start;
}