.layout {
    height: 100vh;
}

.background {
    height: 100vh;
    background-color: lightgray;
    padding: 12px;
}

.header {
    padding-left: 24px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.title {
    color: white !important;
    margin: 0 !important;
    font-family: 'PJ-Masks-Regular';
    font-weight: 200 !important;
    letter-spacing: 0.1rem;
}

.userText {
    color: white !important;
}

.content {
    position: relative;
    height: 100%;
    padding: 24px;
    min-height: 360px;
    border-radius: 12px;
    background-color: white;
    scrollbar-width: none;
    overflow-y: scroll;
}

.logoContainer {
    height: 64px;
    display: flex;
    justify-content: center;
}

.logo {
    height: 100%;
}
