.layout {
    height: 100vh;
}

.background {
    height: 100vh;
    background-color: lightgray;
    padding: 12px;
}

.content {
    height: 100%;
    padding: 24px;
    min-height: 360px;
    border-radius: 12px;
    background-color: white;
    scrollbar-width: none;
    overflow-y: scroll;
}

.logoContainer {
    height: 64px;
    display: flex;
    justify-content: center;
}

.logo {
    height: 100%;
}
