.card {
    height: 22.4rem;
    width: 16rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: #FAA33D;
    display: flex;
    align-items: center;
    justify-content: center;
}